<header class="app-navbar mat-elevation-z6">
    <div class="menu">
      <a class="docs-navbar-hide-small docs-button mat-button ng-star-inserted" routerLink="/">
       <img src="/assets/mask.jpg" alt="LOGO" height="31" width="32">
      </a>
      <a class="docs-navbar-hide-small docs-button mat-button ng-star-inserted" routerLink="/dashboard">Dashboard</a>
      <a class="docs-navbar-hide-small docs-button mat-button ng-star-inserted" routerLink="/proverbs">Proverbs</a>
    </div>
  </header>
  <section class="material-docs-app">
    <mat-sidenav-container>
      <mat-sidenav  #sidenav role="navigation">
        <app-sidenav-list (sidenavClose)="sidenav.close()"></app-sidenav-list>
      </mat-sidenav>
      <mat-sidenav-content>
        <app-header (sidenavToggle)="sidenav.toggle()"></app-header>
        <main>
          <router-outlet></router-outlet>
          <app-messages></app-messages>
        </main>
      </mat-sidenav-content>
    </mat-sidenav-container>
</section>
<footer class="docs-footer">
  <p>Footer</p>
</footer>

