.material-docs-app {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  position: absolute;
  top: 56px;
  bottom: 0px;
  left: 0;
  right: 0;
}

.mat-elevation-z6 {
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2),
    0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
}

.docs-navbar-header[_ngcontent-ofi-c1] {
  display: -webkit-box;
  flex-wrap: wrap;
  -webkit-box-align: center;
  align-items: center;
  padding: 8px 16px;
}

.app-navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  height: 60px;
}

.app-navbar {
  /* color: #fff;
  background: #3d7269; */
  background-color: rgb(255, 255, 255);
  display: flex;
  -moz-box-align: center;
  align-items: center;
  max-width: 1530px;
  height: 60px;
  font-family: "Graphik Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 0px 32px;
  margin: 0px auto;
  min-width: 320px;
  line-height: 1;
}

.docs-footer {
  padding: 12px;
  font-size: 12px;
  margin-top: 2px;
  /* background: #3d7269;
  color: #fff; */
  background-color: rgb(255, 255, 255);
}

footer {
  display: block;
}

.menu {
  margin-right: auto;
  display: flex;
}

#containter {
  margin-left: auto;
  margin-right: auto;
  display: block;
  position: relative;
  background-color: #f2f2f2;
}

.copyright {
  text-align: center;
}


#container {
  height: 100vh;
  overflow: auto;
}

/* .search {
	color: rgb(68, 68, 68);
	font-size: 12px;
	line-height: 20px;
	border-radius: 5px;
	border: 1px solid rgb(221, 221, 221);
	outline: currentcolor none medium;
	padding: 3px 10px 4px 30px;
	transition: width 0.15s ease-in-out 0s;
	width: 136px;
} */

.css-SearchInput {
	color: rgb(68, 68, 68);
	font-size: 12px;
	line-height: 20px;
	border-radius: 5px;
	border: 1px solid rgb(221, 221, 221);
	outline: currentcolor none medium;
	padding: 3px 10px 4px 30px;
	transition: width 0.15s ease-in-out 0s;
	width: 136px;
}

input {
  overflow: visible;
}