.material-docs-app {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    position: absolute;
    top: 56px;
    bottom: 0;
    left: 0;
    right: 0;
}

.mat-elevation-z6 {
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
}

.docs-navbar-header[_ngcontent-ofi-c1] {
    display: -webkit-box;
    flex-wrap: wrap;
    -webkit-box-align: center;
    align-items: center;
    padding: 8px 16px;
}

.app-navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    height: 60px;
}

.app-navbar {
    color: #fff;
    background: #3f51b5;
}

.docs-footer[_ngcontent-ofi-c10] {
    padding: 12px;
    font-size: 12px;
    margin-top: 40px;
}

.docs-footer {
    background: #3f51b5;
    color: #fff;
}

footer {
    display: block;
}

.menu {
    margin-right: auto;
    ;
}