.example-card {
    max-width: 400px;
}

.example-header-image {
    background-image: url('/assets/mask.jpg');
    background-size: cover;
}

.basic-container {
    padding: 30px;
}

#containter {
    margin-left: auto;
    margin-right: auto;
    display: block;
    position: relative
}